{% extends '::base.html.twig' %}
{% block header %}
    Customers:
{% endblock %}
 {% block content %}

     <form action='' method="POST" id="payment-form">
         <div class="container">Name :<input type="text" name="name" value="Jenny Rosen" /></div>
         <div class="container">Email :<input type="mail" name="email" value="tokynjo2@gmail.com"/></div>
         <div class="container">Code Bleu :<input type="text" data-stripe="number" value="4242 4242 4242 4242"/></div>
         <div class="container">MM :<input type="text" data-stripe="exp_month" value="12" /></div>
         <div class="container">YY :<input type="text" data-stripe="exp_year"/ value="18"></div>
         <div class="container">CVC:<input type="text" data-stripe="cvc" value="123"/></div>
         <div class="container"><input type="submit" value="ok"/></div>
     </form>

 {% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script>
        Stripe.setPublishableKey('pk_test_Ux0aCx4O3fPBanowAxicY81l');

        var $form = $('#payment-form'); // On récupère le formulaire
        $form.submit(function (e) {
            $('div.cache').removeClass('hide');
            e.preventDefault();
            $form.find('button').prop('disabled', true); // On désactive le bouton submit
            Stripe.card.createToken(
                $form
                , function (status, response) {

                    if (response.error) { // Ah une erreur !
                        // On affiche les erreurs
                        console.log(response.error);
                        $form.find('.payment-errors').text(response.error.message);
                        $form.find('button').prop('disabled', false); // On réactive le bouton
                    } else { // Le token a bien été créé
                        var token = response.id; // On récupère le token
                        console.log(token);
                        // On crée un champs cachée qui contiendra notre token
                        $form.append($('<input type="hidden" name="stripeToken" />').val(token));
                        $form.get(0).submit(); // On soumet le formulaire
                    }
                });
        });
        {% if resultat.id is defined %}
            alert('Customers created');
        {% endif %}
    </script>
{% endblock %}